
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: "Christmas";
    src: url("../fonts/Christmas.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ForChristmas";
    src: url("../fonts/ForChristmas.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





:root {
    --white: #ffffff;
    --green: #008F74;
    --cream: #FFF5E5;
    --red: #E43500;
    --blue: #3F4E89;
    --darkblue: #2B3353;
    --cookie: #DE8E00;
    --black: #000000;
    

    --title: "ForChristmas";
    --parrafo: 'Roboto';
    
    font-size: 16px;
}


.body {
    
    /* display: flex;
    justify-content: center;
    align-content: center;       */

    background: var(--darkblue) url('../assets/1.png') no-repeat right;
    background-size: contain;
    font-family: var(--parrafo);
    overflow-y: hidden;

}


.card {
    
    border-radius: 7px;
    width: 40%;
    height: 70%;
    background-color: var(--cream);
    /* margin: 8em 20em; */
    margin: 7em auto;
    padding: 1em 3em;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;


}
.card__title { 
    color: var(--red);
    text-align: center;
    font-family: var(--title);
    font-size: 3em;
}

.card__list {
    text-align: center;
    color: var(--blue);
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--parrafo);
}


.card__item {
    margin-bottom: 0.5em;
}