
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');




:root {
    --white: #ffffff;
    --green: #008F74;
    --cream: #FFF5E5;
    --red: #E43500;
    --blue: #3F4E89;
    --darkblue: #2B3353;
    --cookie: #DE8E00;
    --black: #000000;

    font-size: 16px;

}


.body {
    
    /* display: flex;
    justify-content: center;
    align-content: center;       */

    background: var(--darkblue) url('../assets/1.png') no-repeat right;
    background-size: contain;
    font-family: 'Roboto', sans-serif;

}


.card {
    color: var(--white);
    border: 1px solid white;
    border-radius: 7px;
    width: 50%;
    height: 70%;
    background-color: var(--cream);
    margin: 6em 6em;
    padding: 1em 3em;


}
.card__title { 
    color: var(--red);
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3em;
}

.card__list {
    text-align: center;
    color: var(--blue);
    font-size: 1.3rem;
    font-weight: 700;
}


.card__item {
    margin-bottom: 0.5em;
}